{% extends "base.html" %}
{% load static %}
{% block title %} Hariom's Blog {% endblock title %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static "blog/css/navbar.css" %}">
    <link rel="stylesheet" href="{% static "blog/css/top-blogs.css" %}">
{% endblock stylesheets %}
{% block body %}
    {% include "blog/navbar.html" %}
    <section class="top-blogs">
        {% for blog in blogs %}
            <div class="blog-tile">
                <img src="{% static "blog/images/hero.jpg" %}" alt="Blog 1 Image">
                <a href="{% url "single-post" slug=blog.slug %}">
                    <div class="blog-info">
                        <h2>{{ blog.title }}</h2>
                        <p>{{ blog.description }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </section>
{% endblock body %}