@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

.playwrite-cu-1 {
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

html {
    font-family: "Playwrite CU", sans-serif;
}

body {
    margin: 0;
}